.page
{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    box-sizing: border-box;
}


.header{
display: flex;
box-sizing:border-box;
width: 100%;
background-color: #213B7E;
max-width: 1300px;
margin: 0 auto;
padding: 0 15px;
min-height: 80px;
justify-content: space-between;
align-items: center;
font-family: 'Roboto', sans-serif;
}

.menu{
display: flex;
flex-wrap: wrap;
align-self:stretch;
padding: 0;
margin: 0;
list-style: none;

}

.menu > li{
    display: flex;
    flex-wrap: wrap;
    
}

.menu-link:hover{
background-color: #ffffff;
color: #213B7E;
text-decoration-line: none;
}

.menu-link{
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 0 18px;
color: #ffffff;
font-size: 20px;
font-weight: 400;
text-decoration-line: underline;
transition: all 0.5s ease-out;
}

.login-button{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
font-size: 18px;
font-weight: 400;
color: #ffffff;
text-decoration: none;
background-color: #EA5D21;
max-width: 153px;
min-height: 50px;

}

/* popup */

.login-popup{
    display: none;
    position: absolute;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -65%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    max-height: 518px;
    padding: 26px 28px 50px;
    background: #ffffff;
    border: 1px solid #213B7E;
    background-color: #ffffff;
    
    

}



.login-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-align: center;


}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-form > input{
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    margin-bottom: 56px;
    border: 1px solid #808080;


}

.login-input{
    width: 444px;
    min-height: 55px;
    background-color: #ffffff;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;



}
        
.popup-button{
    display: flex;
    
    justify-content: center;
    align-items: center;
width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    background-color: #EA5D21;
    max-width: 153px;
    min-height: 50px;  
    border: #EA5D21;
    

    
}
    
.active-link{
    background-color: #ffffff;
    color: #213B7E;
    text-decoration-line: none;   
}

.show-popup{
    display: block;

}


.popup-close{

    box-sizing: border-box;
    position: absolute;
    right: 25px;



}

/* main */

.content{
    
width: 100%;    
max-width: 911px;
margin: 0 auto;
flex-grow: 1;
}

.main-heading{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;

}

.class-photo{
    width: 100%;
    max-width: 523px;
    height: 316px;
    height: auto;
}

h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
}


.print2{

    
}

.quotes{
    font-weight: 900;
    font-size: 40px;
     
}

.text1{
width: 100%;
max-width: 634px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
}

.text2{

display: flex;
max-width: 70px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;

}

.footer{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #213B7E;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 60px;
    justify-content: center;
    align-items: center;

}

.copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 0.5);
}

em{
    color: #EA5D21;
}

.text2::before{
    
    content: open-quote;
    max-width: 70px;

    font-weight: 400;
    font-size: 56px;


}

.text2::after{

content: close-quote;
max-width: 70px;

    font-weight: 400;
    font-size: 56px;
display: flex;
flex-direction: column-reverse;

}


.innop-link{
    color: rgba(255, 255, 255, 0.5);
    text-underline-offset: 5px;
}

/* media */

@media (max-width: 400px ) {
    .header{
        background-color: #213B7E;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .page{
        width: 70%;
        display: flex;

    }
.content{
    width: 70%;    
    max-width: 911px;
    margin: 10px auto;
    flex-grow: 1;


}

.text2{

    display: flex;
flex-wrap: wrap;
max-width: 40px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #646464;
    
    }
    .text2::before{
    
        content: open-quote;
        max-width: 70px;
    
        font-weight: 400;
        font-size: 26px;
    
    
    }
    
    .text2::after{
    
    content: close-quote;
    max-width: 70px;
    
        font-weight: 400;
        font-size: 26px;
    display: flex;
    flex-direction: column-reverse;
    
    }

    .class-photo{
        width: 70%;
        display: flex;

    }
    .text1{
        width: 70%;
        display: flex;
        flex-wrap: wrap;

    }
    .footer {
        width: 70%;
        display: flex;


    }

}